* { font-family: 'Open Sans'; }

#Content { padding: 5px; margin: 0px; margin-left: 180px; }
.toggle-closed #Content { margin-left: 50px; }
.close-bar { width: 20px; height: 2px; float: none; clear: both; background-color: #FFFFFF; position: absolute; margin-top: -10px; }
.cw-45 { transform: rotate(45deg); }
.ccw-45 { transform: rotate(-45deg); }
.toggle-closed .collapsed-hidden { visibility: hidden; }
.collapsed-visible { visibility: hidden; }
.toggle-closed .collapsed-visible { visibility: visible; }
#LeftMenu { width: 180px; position: fixed; left: 0px; top: 0px; bottom: 0px; border-radius: 0px; margin: 0px; background-color: #DEEBF0; }
#LeftMenu * { border: none; border-radius: 0; }
	#LeftMenu .default { background-color: transparent; }
	#LeftMenu .default * { color: #333;  }
	#LeftMenu .menu-label { visibility: visible; }
	#LeftMenu .header-menu { background-color: #E69485; border: none; height: 48px; text-transform: uppercase; }
	#LeftMenu a { color: #FFFFFF; text-decoration: none; display: block; }
	#LeftMenu span { color: #FFFFFF; }
	#LeftMenu .section-header { background-color: #626262; }
	#LeftMenu .dropdown { background-color: #37B1D6; }
	#LeftMenu .dropdown .menu-dropdown { margin: 5px -15px; margin-bottom: -10px; }
	#LeftMenu .dropdown .menu-dropdown li { background-color: #D4E0E5; }
	#LeftMenu .dropdown .menu-dropdown .list-group-item a { margin-left: 10px; color: #333; font-size: .9em }
.toggle-closed #LeftMenu { width: 50px; }
	.toggle-closed #LeftMenu .header-menu { text-align: center; }

#Header { height: 48px !important; left: 180px; overflow: hidden; }
.toggle-closed #Header { left: 50px; }
